@{
	ViewBag.Title = "Toplantı Katılım Listesi";
}

<main class="text-center">
	<h1>Toplantı katılım listesi</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Ad</td>
				<td>Email</td>
				<td>Katılım Durum</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>okan koca</td>
				<td>oakoka@gmail.com</td>
				<td>Evet</td>
				<td>
					<a class="btn btn-sm btn-primary" href="#">Detay</a>
				</td>
			</tr>
			<tr>
				<td>okan koca</td>
				<td>oakoka@gmail.com</td>
				<td>Evet</td>
				<td>
					<a class="btn btn-sm btn-primary" href="#">Detay</a>
				</td>
			</tr>
		</tbody>
	</table>
</main>

