@{
	ViewBag.Title = "Toplantı Katılım Listesi";
}
@model List<UserInfo>

<main class="text-center">
	<h1>Toplantı katılım listesi</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Name</td>
				<td>Attendance Status</td>
				<td>Detay</td>
			</tr>
		</thead>
		<tbody>
			@{
				int i = 0;
			}

			@foreach (var user in Model)
			{
				var className = user.WillAttend == true ? "table-success" : "table-danger";

				<tr class = "@className">
					<td>@user.Name</td>
					@if (user.WillAttend)
					{
						<td>Yes</td>
						i++;
					}
					else
					{
						<td>No</td>
					}
					<td>
						<a class="btn btn-sm btn-primary" asp-controller="Meeting" asp-action="Details" asp-route-id="@user.Id">Detay</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="card">
		<div class="card-body">
			<p> Number of Participants : @i </p>
		</div>
	</div>
</main>

